<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Roster Creator</title>
</head>
<body>
    <br>
    {% if roster %}
        <h1> Roster </h1>
         {% for entry in roster %}
            <p>{{entry}}</p>
         {% endfor %}
    {% endif %}
    {% if error_text %}
        <p><b>{{ error_text }}</b></p>
    {% endif %}
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <b>Employees: </b><input type="file" name="employees" /><br><br>
        <b>Shifts: </b><input type="file" name="shifts" /><br><br><br>
        <input type="submit" name="submit" value="Upload" />

    </form>
</body>
</html>